<launch>
  <arg name="model" default="$(find projeto)/urdf/hexapod.xacro" />
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="true"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulation)/worlds/mix.world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <node name="urdf_spawner" pkg="gazebo_ros" respawn="false" type="spawn_model"
    args="-param robot_description -urdf -model hexapod"/>

  <include file="$(find controlo)/launch/hexapod_control.launch" />

  <node name="athena" pkg="debug" type="classification_2_ind.py" required="true" respawn="false" output="screen"/>
</launch>
